@using ScorePrediction.Web.Models.Domain
@model List<Match>;

@{
    ViewData["Title"] = "ManageList";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 sm-margin-30px-bottom">
            <div class="blog-style5">

                <div class="section-heading left mb-4">
                    <div class="row">
                        <div class="col-lg col-md">
                            <h4 class="text-capitalize">Manage Match</h4>
                        </div>
                        <div class="col-lg-auto col-md-auto">
                            <a class="butn theme margin-15px-right xs-margin-10px-bottom px-3 py-1" asp-controller="Match" asp-action="Create">
                                <span><i class="fas fa-plus-circle margin-5px-right"></i> Add New</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="blog-grids">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <table class="table table-sm table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="text-center">Home</th>
                                        <th scope="col" class="text-center">Away</th>
                                        <th scope="col" style="width: 20px !important;"></th>
                                        <th scope="col" class="text-center">Title</th>
                                        <th scope="col" class="text-center">Deadline</th>
                                        <th scope="col" class="text-center">Published</th>
                                        <th scope="col" style="width: 170px !important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-auto col-md-auto ml-3">
                                                        <img src="/@Url.Content(@item.HomeTeam.Logo)" alt="" style="height: 20px; width: 20px !important;">
                                                    </div>
                                                    <div class="col-lg col-md my-auto">
                                                        <span class="h6 text-dark mb-0">@item.HomeTeam.Name</span>
                                                    </div>
                                                    <div class="col-lg-auto col-md-auto">
                                                        <span class="h6 text-dark">@item.HomeTeamScore</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-auto col-md-auto">
                                                        <span class="h6 text-dark">@item.AwayTeamScore</span>
                                                    </div>
                                                    <div class="col-lg col-md my-auto">
                                                        <span class="h6 text-dark mb-0">@item.AwayTeam.Name</span>
                                                    </div>
                                                    <div class="col-lg-auto col-md-auto">
                                                        <img src="/@Url.Content(@item.AwayTeam.Logo)" alt="" style="height: 20px; width: 20px !important;">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                            <td class="text-center">
                                                <span class="h6 @(!@item.DeletedOn.HasValue ? "text-dark":"text-danger")">@item.MatchTitle</span>
                                        </td>
                                            <td class="text-center">
                                                <span class="h6 @(!@item.DeletedOn.HasValue ? "text-dark":"text-danger")">
                                                    @Convert.ToDateTime(item.PredictionDeadline).ToString("dd/MM/yyyy HH:mm")
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <span class="h6 @(!@item.DeletedOn.HasValue ? "text-dark":"text-danger")">
                                                    @Convert.ToDateTime(item.PublishedOn).ToString("dd/MM/yyyy HH:mm")
                                                </span>
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">
                                                    <span class="text-warning mr-2">
                                                        <i class="fas fa-edit margin-5px-right"></i>
                                                    </span>
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.Id">
                                                    <span class="text-primary mr-2">
                                                        <i class="fas fa-eye margin-5px-right"></i>
                                                    </span>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id">
                                                    <span class="text-danger mr-2">
                                                        <i class="fas fa-trash-alt margin-5px-right"></i>
                                                    </span>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id">
                                                    <span class="text-success mr-2">
                                                        <i class="fas fa-upload margin-5px-right"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-2 col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

